#app {
	display: grid;
	grid-template-columns: max-content 1fr;
	inset: 0;
	position: fixed;
	width: 100%;
}

#menu {
	width: max-content;
	display: flex;
	flex-direction: column;
	gap: 1em;
	align-items: center;
	grid-column: 1;
	border-right: 1px solid #ccc;
	overflow: hidden;
	resize: horizontal;
	text-wrap: nowrap;
	padding: 1em;

	button {
		width: 150px;
	}

	ul {
		list-style: none;
		padding: 0;
	}

	li {
		border: 1px solid #ccc;
		background-color: #333;
		border-radius: 0.5em;
		padding: 0.5em;
		margin-bottom: 1em;

		p {
			margin: 0;
		}
	}

	li:hover {
		cursor: pointer;
	}

	div {
		margin-bottom: 1em;
	}

	.bottom {
		display: inline-flex;
		margin: auto 0 0;
	}
}

#editor-container {
	grid-column: 2;
	inset: 0;
	position: absolute;

	.closed {
		text-align: center;
		position: absolute;
		width: max-content;
		padding: 1em;

		p {
			width: 100%;
		}
	}

	.open {
		z-index: 3;
		display: none;
	}
}

#toolbar {
	position: absolute;
	width: 100%;
	height: 2em;
	padding: 1em;
	top: 0;
	overflow-x: scroll;
	display: flex;
	gap: 1em;

	.name {
		min-width: 1em;
		min-height: 1em;
		outline: none;
		padding-left: 0.5em;
	}
}

#editor {
	position: absolute;
	width: 100%;
	height: calc(100% - 4em);
	top: 4em;
	overflow: scroll;
}

.chip-li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1em;

	> .del {
		width: 2em;
		text-align: center;
	}
}

:popover-open {
	position: fixed;
	border: 1px solid #ccc4;
	background-color: #6767;
	inset: unset;
	border-radius: 0.5em;
	padding: 0.25em;
	display: flex;
	flex-direction: column;
	gap: 0.1em;
}

#context-menu > span {
	cursor: pointer;
}
